@font-face {
    font-family: "poppins-light", sans-serif;
    src: url(/fonts/Poppins-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

body {
    /*	overflow: hidden; */
}

#top {
    position: relative;
    z-index: 1000;
    width: -webkit-fill-available;
}

#left {
    left: 0;
    top: 0;
    bottom: 0;
    right: 15.5vw;
    position: fixed;
}

#right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 15.5vw;
}

/* makes images fit */
img {
    object-fit: cover;
}

.button {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    color: #459dda;
}

#funfact {
    font-family: "Poppins";
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    position: relative;
    display: inline-block;
    margin: 2vw;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back,
.front img,
.back img {
    width: 20vw;
    height: 20vw;
    position: relative;
    display: inline-block;}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: -40vw;
    left: 0;
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 1.1vw;
    box-shadow: 1vw 1vw 0.5vw lightblue;
    overflow: hidden;
    border-radius: 4vw;
    border: 1px solid lightblue;
}

.back {
    padding: 2vw;
    box-sizing: border-box;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.p1 {
    top: 0;
    left: 0;
}

.p2 {
    top: 0;
    right: 0;
}

.p3 {
    bottom: 0;
    left: 0;
}

.p4 {
    bottom: 0;
    right: 0;
}

.p5 {
    top: 0;
    left: 0;
}

#title,
#title2 {
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    top: 1vw;
}

#title {
    font-size: 9vw;
    padding-top: 12vw;
    float: left;
    display: inline;
    width: 40%;
    padding-left: 15vw;
}

#title2 {
    position: fixed;
    font-size: 3vw;
    background-color: white;
    top: 0;
    padding: 1vw;
}

#headshot {
    width: 40%;
    float: left;
    display: inline;
}

.page {
    opacity: 0;
    pointer-events: none;
}

.active-page {
    opacity: 1;
    pointer-events: auto;
}

table, th, td {
    border: 1px solid;
    border-color: gray;
}

table {
    top: -40vw;
    font-family: "Poppins";
}

iframe {
    top:-40vw;
}

/*social media icon styling -- from Sanket Bodke https://codepen.io/sanketbodke/pen/LYymbRq?editors=1111*/
.social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}



.pt-page-flipOutRight {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipOutRight .5s both ease-in;
    animation: flipOutRight .5s both ease-in;
}

.pt-page-flipInLeft {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: flipInLeft .5s both ease-out;
    animation: flipInLeft .5s both ease-out;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-out {
    opacity: 1;
    /* make things visible upon start */
    -webkit-animation: fadeOut ease-in 1;
    /* call our keyframe named fadeOut, use animation ease-in and repeat it only 1 time */
    -moz-animation: fadeOut ease-in 1;
    animation: fadeOut ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 0)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
